<head prefix="og: https://ogp.me/ns#">

<!-- Open Graph Protocol -->
<meta property="og:title" content="{{ site.header.title }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.subtitle }}" />
<meta property="og:url" content="{{ site.baseurl }}" />
<meta property="og:image" content="{{ site.baseurl }}/images/fulls/DSC_9072.jpg" />
<meta property="og:type" content="website" />
<meta name="twitter:site" content="{{ site.twitter_username }}" />
<meta name="twitter:creator" content="{{ site.twitter_username }}" />
<meta name="twitter:card" content="summary_large_image" />